.blog__image {
  float: right;
  margin: 0 0 1rem 1rem;
}

.blog-list ol {
  list-style-type: none;
  margin-left: 0;
}

.blog-list ol h3 {
  margin-bottom: 0;
}

.blog-list ol a {
  text-decoration: none;
  background: #f4f4f4;
  display: block;
  padding: 1rem;
}

.blog-list ol a:hover {
  background: #e0e0e0;
}
